@mixin text-sm($color) {
  font-size: 0.8rem;
  color: $color;
}

@mixin text-md($color) {
  font-size: 1rem;
  color: $color;

  @media (max-width: 1199.98px) {
    font-size: 0.9rem;
  }
  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

@mixin text-lg($color) {
  font-size: 3rem;
  color: $color;

  @media (max-width: 992px) {
    font-size: 1.7rem;
  }
  @media (max-width: 576px) {
    font-size: 1.3rem !important;
  }
}

@mixin text-center() {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

@mixin box-shadow() {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
